@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>

<p>We're sorry.  There appears to have been a problem.  Please go back with your browser and try again.  </p>

@Html.ActionLink("BeyondTheTutor", "Index", "Home", null, new { @class = "btn btn-primary", role = "button" })

