@{
    ViewBag.Title = "500: Error finding what you need";
    Response.StatusCode = 500;
}

<div class="ui container">
    <div class="ui one column centered padded grid" style="width: 100%;">
        <div class="sixteen wide column">
            <img class="ui centered image" src="~/Content/images/error_default.png" style="width:450px;height:350px;" />
        </div>
        <div class="ui grid" style="padding-top:20px;">
            <div class="four wide column">
                <img class="ui centered small image" src="~/Content/images/Owl_RedYellow.png" />
            </div>
            <div class="twelve wide column">
                <h2 style="padding-top:20px;">Oops! Something went really wrong!</h2>
                <h4>It appears something went astray. Try refreshing the page and trying agaim or follow Mr. Owl back to <a href="/home/index">safety</a>!</h4>
            </div>
        </div>
    </div>
</div>