@model IEnumerable<BeyondTheTutor.Models.TutorSchedule>

<body class="wou-silver-bg">
    <div class="ui one column stackable page grid">
        <div class="ui green message schedule"><i class="close icon"></i>Schedule Successfully Added!</div>
        <table class="ui striped table ui selectable celled table table-schedule">
            <thead>
                <tr>
                    <th><h4>Tutor Name &amp; Job</h4></th>
                    <th> <h4>Start Date &amp; Time</h4></th>
                    <th>End Date &amp; Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Tutor/TutorSchedules/Create" button class="fluid ui button schedule">Add More Schedules</a>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}

