@{
    ViewBag.Title = "Home Page";
}

    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Beyond the Tutor
            </div>
            <p>Excuse our mess, we are under construction!</p>
        </div>
    </div>