@{
    ViewBag.Title = "Home Page";
}



    <div class="ui container">
        @if (TempData["Message"] != null)
        {
            <div class="ui icon message">
                <i class="inbox icon"></i>
                <div class="content">
                    <div class="header">
                        You have successfully created an account!
                    </div>
                    <p>@TempData["Message"]</p>
                    <i>Make sure to check your <b>SPAM</b> folder for our email.</i>
                    <p>Thank you!</p>
                </div>
            </div>
        }

        <div class="ui two column centered grid">
            <img src="../Content/images/BeyondtheTutor_Banner2.png" alt="Alternate Text" />
        </div>

        <div class="ui one column centered padded grid">
            <div class="column">
                <div class="ui piled segment">
                    <div class="ui red centered segment">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui one column padded center aligned grid" id="tutors_container">
            <div class="column">
                <div class="ui huge header"><i class="graduation cape icon"></i> Meet Your Tutors </div>
            </div>
            <div id="display_tutors"></div>
        </div>

        <div class="ui segments">
            <div class="ui horizontal segments">
                <div class="ui red segment">
                    <h3 class="ui center aligned header"><i class="thumbs up icon"></i>What classes can we help with?</h3>
                    <hr />
                    <p><i>CS 122, 133, 160, 161, 162, 260, 271, 340, 360, 361, 363, 364, 365, 434, 465</i></p>
                    <p><i>IS 240, 278, 340, 345, 350, 355, 485</i></p>
                </div>
                <div class="ui red segment">
                    <h3 class="ui center aligned header"><i class="map pin icon"></i>Where are we located?</h3>
                    <hr />
                    <p>We’ve moved to the Old Education Building, across from the WUC.</p>
                    <p>The tutoring room is located on the 2nd floor, south corner, room <b>OED 230</b>.</p>
                    <p>We are open during weeks 2 – 10 each term.</p>
                </div>
            </div>
            <div class="ui secondary center aligned segment">
                <p>Want more information? Visit our <a>FAQ</a>.</p>
            </div>
        </div>
    </div>




@section scripts
{
    <script src="~/Scripts/schedulecalendar.js"></script>
    <script src="~/Scripts/displaytutors.js"></script>
}