@{
    ViewBag.Title = "Home Page";
}

@if(TempData["Message"] != null)
{
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                You have successfully created an account!
            </div>
            <p>@TempData["Message"]</p>
        </div>
    </div>
 }

<div class="ui icon message">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            Beyond the Tutor
        </div>
        <p>Excuse our mess, we are under construction!</p>
    </div>
</div>