@{
    ViewBag.Title = "Home Page";
}

@if(TempData["Message"] != null)
{
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                You have successfully created an account!
            </div>
            <p>@TempData["Message"]</p>
            <i>Make sure to check your <b>SPAM</b> folder for our email.</i>
            <p>Thank you!</p>
        </div>
    </div>
 }


<div class="ui icon message calendar-container">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            Beyond the Tutor
        </div>
        <p>Excuse our mess, we are under construction!</p>
    </div>
</div>

<div class="ui two column centered padded grid">
    <div class="column">
        <div class="ui piled segment">
            <div class="ui blue centered segment">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

    
@section scripts
{
    <script src="~/Scripts/schedulecalendar.js"></script>    
}