<body class="wou-grey-bg">
    <div class="ui grid privacy">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui raised segment">
                <h1 class="ui centered header">Privacy Policy</h1>
                <p>
                    This privacy policy ("Privacy Policy") will help you understand how Beyond the Tutor uses
                    and protects the data you provide to us when you visit and use our services.
                    We reserve the right to change this policy at any given time, of which you will be promptly updated.
                    If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.
                </p>
                <p>
                    <h3 class="ui header"><b>What Data We Collect</b></h3>
                    When you visit the website, we may collect the following data:
                    <br />
                    • Your contact information and email address.
                    <br />
                    • Data profile regarding your online behavior on our website.
                    <br />
                </p>
                <p>
                    <h3 class="ui header"><b>Why We Collect Your Data</b></h3>
                    We are collecting your data for several reasons:
                    <br />
                    • To better understand your needs.
                    <br />
                    • To improve our services and products.
                    <br />
                    • To customize our website according to your online behavior and personal preferences.
                </p>
                <p>
                    <h3 class="ui header"><b>Safeguarding and Securing the Data</b></h3>
                    Beyond the Tutor is committed to securing your data and keeping it confidential.
                    Beyond the Tutor has done all in its power to prevent data theft, unauthorized access,
                    and disclosure by implementing the latest technologies and software, which help us
                    safeguard all the information we collect online. Data used for department insights is anonymous.
                    Information is put into a collective data pool and is never displayed in connection with specific user profiles.
                </p>
                <p>
                    <h3 class="ui header"><b>Links to Other Websites</b></h3>
                    Our website contains links that lead to other websites. If you click on these links Beyond the Tutor is not
                    held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy
                    policy agreement. Make sure to read the privacy policy documentation of the website you go to from our website.
                </p>
                <p>
                    <h3 class="ui header"><b>Restricting the Collection of your Personal Data</b></h3>
                    At some point, you might wish to restrict the use and collection of your personal data.
                    You can achieve this by doing the following:
                    <br />
                    • When you are filling the forms on the website, make sure to check if there is a box which
                    you can leave unchecked, if you don't want to disclose your personal information.
                    <br />
                    • If you have already agreed to share your information with us, contact
                    us via email and we will be more than happy to change this for you.
                    <br />
                    Beyond the Tutor will not lease, sell or distribute your personal information to any
                    third parties, unless we have your permission.
                </p>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>

    <div class="ui container footer">
        <hr />
        <div class="ui vertical footer segment">
            <div class="ui container">
                <div class="ui stackable divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui header">Resources</h4>
                        <div class="ui link list">
                            @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomeFAQ" ? "item red active" : "item") })
                            @Html.ActionLink("Privacy Policy", "Privacy", "Home", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "HomePrivacy" ? "item red active" : "item") })
                            <a class=@(ViewBag.Current == "HomePrivacy" ? "item red active" : "item") href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header">Account Services</h4>
                        <div class="ui link list">
                            @Html.ActionLink("Login", "Login", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountLogin" ? "item red active" : "item") })
                            @Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "AccountRegister" ? "item red active" : "item") })
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui header">Beyond the Tutor</h4>
                        <p>If you have any questions about the services offered by Beyond the Tutor, you can reach us <a href="#">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
