<div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui compact message">
                <p>Drop-in chat from students enabled below</p>
            </div>
        </div>
        <div class="column twelve wide">
            <iframe src="https://titanembeds.com/embed/678653017465290762?scrollbartheme=inset-3&theme=IceWyvern&username=Student"
                    height="500" width="800" frameborder="0" style="position: relative;"></iframe>
        </div>
</div>



