body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui.attached.message.schedule {
    margin-bottom: 5px;
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
    -webkit-box-shadow: 0em 0em 0em 1px rgba(34, 36, 38, 0.15) inset;
    box-shadow: 0em 0em 0em 1px rgba(34, 36, 38, 0.15) inset;
    margin-left: -1px;
    margin-right: -1px;
    background-color: rgb(196,198,200);
    padding-bottom: 10px;
}

.fluid.ui.button.schedule {
    width: 100%;
    background-color: #db0a29;
}


