@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <img src="https://i.imgur.com/ouMb5bq.png" class="img-fluid" />
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="text-align: center;">
        <h1 style="color: aliceblue;">The <i>#1</i> analysis tool for coaches and swimmers</h1>
        <button type="button" class="nav-bar-button">Get started for free</button>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="text-align: center; padding-top: 25px;">
        <p style="color: aliceblue;">"Finally an affordable program that makes athlete analysis simple."</p>
        <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHACJvUSIvDuUQrcsvrg5DZLJWOmDU3sx34Cl5GkO7UQGv0I36&s" />
        <p style="color: aliceblue;"><b>Phineas Smith,</b> Eagles Swim Team</p>
        <hr />
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row" id="bottom-home-page">
    <div class="col-md-4" style="color: aliceblue; text-align: center;" id="bottom-home-page">
        <img src="https://i.imgur.com/ouMb5bq.png" class="img-fluid" />
        <p>&copy; @DateTime.Now.Year - Khronos, Inc.</p>
    </div>
    <div class="col-md-4">
        testing
    </div>
    <div class="col-md-4">
        testing
    </div>
</div>


