body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #ffffff;  
}

/* This sets the background for the homepage only */
.home-bg {
    background: url('../images/swimmingpool.jpg');
    background-size: cover;
}

.other-bg {
    background: url('../images/blue.jpg');
    background-size: cover;
}

/* This is the custom orange button found on the home page */
.nav-bar-button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #edb826 5%, #b0881a 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
    padding: 7px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .nav-bar-button:hover {
        background: linear-gradient(to bottom, #b0881a 5%, #edb826 100%);
        background-color: #ffec64;
    }

    .nav-bar-button:active {
        position: relative;
        top: 1px;
    }

.other-button {
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .other-button:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    .other-button:active {
        position: relative;
        top: 1px;
    }

.new-box {
    border: solid;
    border-color: #ffec64;
    border-width: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 3px 3px 2px 2px;
    width: inherit;
    outline: none;
}

.custom-text {
    color: #FFFFFF;
}

#box-background {
    background-color: #2f323d;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* This is the custom sign in link */
#nav-sign-in {
    border: 2px;
    border-color: aliceblue;
    border-style: solid;
}

/* This controls spacing of nav bar items */
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* This handles the stats animation on the homepage*/
.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* This customizes the horizontal rule on the home page */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom font for h1 */
h1.header_font {
    font-family: "Arial Black", Gadget, sans-serif;
}

/*Makes the hovor color yellow, change if you please.*/
table.table-hover tbody tr:hover {
    background-color: #ffee66;
}