@model SwimMeetTracker.Models.ViewModels.MeetingDetailsViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Html.DisplayNameFor(model => model.MeetingDate)
        </dt>

        <dd>
            Html.DisplayFor(model => model.MeetingDate)
        </dd>

    </dl>
</div>
<p>
    Html.ActionLink("Edit", "Edit", new { id = Model.EID }) |
    Html.ActionLink("Back to List", "Index")
</p>

<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.Teams)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Names)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.EventTypes)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CompletedIns)</th>
        </tr>
    </thead>
    <tbody>
        {
            for (int i = 0; i < Model.Teams.Count() ; i++)
            {
                <tr>
                    <td>Html.DisplayFor(model => model.Teams[i])</td>
                    <td>Html.DisplayFor(model => model.Names[i])</td>
                    <td>Html.DisplayFor(model => model.EventTypes[i])</td>
                    <td>Html.DisplayFor(model => model.CompletedIns[i])<td>
                </tr>
            }
        }
    </tbody>
</table>
