@model IEnumerable<BeyondTheTutor.Models.TutoringAppt>
@{
    ViewBag.Title = "Index";
}

<body class="wou-silver-bg">

    <div class="ui centered padded grid">
        <div class="three wide column">
            <div class="ui centered vertical segment">
                <div class="ui center aligned top attached red segment">
                    <h3>
                        Zoom Information
                    </h3>
                </div>
                <div class="ui center aligned bottom attached segment" id="zoom_info_div">
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui centered vertical segment">
                <div class="ui center aligned top attached red segment">
                    <h3>
                        Today's Online Tutoring Requests
                    </h3>
                </div>
                <div class="ui bottom attached segment">

                    <div class="ui relaxed divided list" id="meeting_div">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/zoomtutor.js"></script>
}