@model BeyondTheTutor.Models.TimeSheetModels.WorkHour

@{
    ViewBag.Title = "Create";
}

<body class="wou-silver-bg">
    <div class="ui one column center aligned stackable page grid">

    </div>
</body>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
