<body class="wou-silver-bg">
    <div class="ui grid FAQ">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui styled fluid accordion FAQ">
                <div class="ui horizontal divider">
                    <h1 class="ui centered header">Professor Guide</h1>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Welcome Message
                </div>
                <div class="content">
                    <p>
                        Beyond the Tutor welcomes you to the professor portal. We provide several resources to create a
                        pleasant experience during your time as a Computer Science Department professor. Browse our guide
                        to learn about features available to you.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Features to Come
                </div>
                <div class="content">
                    <p>
                        Our team is currently working on professor features. You can look forward to giving your students
                        a greater chance at success by sharing your favorite resources. You will also have access to data
                        analysis based on tutoring data and more. These exciting insights will display student needs in
                        easy-to-understand tables and graphs. You will be able to identify current student needs, trends,
                        and predictions, allowing for a well-informed approach to course design and instruction.
                    </p>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
