<body class="wou-silver-bg">
    <div class="ui grid FAQ">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui styled fluid accordion FAQ">
                <div class="ui horizontal divider">
                    <h1 class="ui centered header">Professor Guide</h1>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Welcome Message
                </div>
                <div class="content">
                    <p>
                        Beyond the Tutor welcomes you to the professor portal. We provide several resources to create a
                        pleasant experience during your time as a Computer Science Department professor. Browse our guide
                        to learn about features available to you.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Adding and Managing Student Resources
                </div>
                <div class="content">
                    <p>
                        @Html.ActionLink("Student resources", "Index", "StudentResources", new { area = "" }, htmlAttributes:
                        new { @class = (ViewBag.Current == "StuResIndex" ? "item red active" : "item") }) are an easy way to
                        share helpful and interesting finds with your students. In the @Html.ActionLink("Add New", "Create", 
                        "StudentResources", new { area = "" }, htmlAttributes: new { @class = (ViewBag.Current == "StuResCreate" ? 
                        "item red active" : "item") }) form you will enter a topic for your resource. Example topics are "Java", 
                        "Semantic UI", "CSS Styling". Make the topic simple and searchable. You will provide the website URL for
                        your resource by copying and pasting it into the appropropriate box. And you will decide how you want the 
                        link displayed. Example displays are "Parse Trees - Wikipedia", "AJAX - CS 461", "HTML Tutorial". Make
                        displays simple and searchable. 
                    </p>
                    <p>
                        You may @Html.ActionLink("manage", "ManageResources", "StudentResources", new { area = "" }, htmlAttributes: 
                        new { @class = (ViewBag.Current == "StuResManage" ? "item red active" : "item") }) your student resources
                        at any time. You may change the topic, URL, display text, or delete. 
                    </p>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
