<body class="wou-silver-bg">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Under Construction
            </div>
            <p>We're currently working on a spectacular home page for administrators.</p>
        </div>
    </div>
</body>

    @section scripts
{
        <script src="~/Scripts/main.js"></script>
    }


