<body class="wou-silver-bg">
    <div class="ui grid FAQ">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui styled fluid accordion FAQ">
                <div class="ui horizontal divider">
                    <h1 class="ui centered header">Student Guide</h1>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Welcome Message
                </div>
                <div class="content">
                    <p>
                        Beyond the Tutor welcomes you to the student portal. We provide several resources to create a
                        pleasant experience during your time as a Computer Science Department student. Browse our guide
                        to learn about features available to you.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Discord Real-Time Chat
                </div>
                <div class="content">
                    <p>
                        On your portal <a href="/Student/Home/Index" target="_blank">home page</a> you will find a Discord chat box.
                        This allows you to chat with tutors in real-time.<br />
                    </p>
                    <p>
                        <b>You do not need a Discord account to use real-time chat</b>.<br />
                    </p>
                    <p>
                        If you want a Discord account sign up <a href="https://discordapp.com/" target="_blank">here</a>.
                        Then join the tutoring server by clicking DISCORD LOGIN.<br />
                    </p>
                    <p>
                        To use real-time chat as a guest then simply click on the guest account name box and press Enter.
                        The default guest account is named STUDENT. Please use your first and last name.
                    </p>
                    <p>
                        Real-time chat is intended for quick help. If your needs require significant time then visit the
                        tutoring center or <a href="/Student/TutoringAppts/Create" target="_blank">request a tutoring session</a>.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Student Resources
                </div>
                <div class="content">
                    <p>
                        You may access resources shared by professors and tutors by visiting the 
                        <a href="/StudentResources/Index" target="_blank">Resources</a> link on your portal. Resources
                        are under construction. Beyond the Tutor is currently working to optimize resources by 
                        providing organized topics sections and search features by professors, courses, and more.
                    </p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Tutoring Session Requests
                </div>
                <div class="content">
                    <p>
                        You may drop by the tutoring center anytime a tutor is available and receive homework help.
                        View tutor availability by visiting our Beyond the Tutor <a href="/Home/Index" target="_blank">home page</a>.
                    </p>
                    <p>
                        If you need help outside of currently listed availability you can
                        <a href="/Student/TutoringAppts/Create" target="_blank">request a tutoring session</a>. You will choose
                        a date, time range, estimated duration of the session, and the class to be tutored.
                    </p>
                    <p>
                        Once your request is submitted our tutors will be alerted. Your appointment will be accepted or denied and you will
                        be alerted in your portal. If your session is accepted your assigned tutor will specify the appointment time
                        within your requested range.
                    </p>
                    <p>
                        Please note that tutor availability may be limited and requests are not guaranteed to be accepted. Tutors will
                        accomodate your needs when possible. For best results specify a wider time range and submit requests at least 24
                        hours in advance. If you cannot attend a scheduled session <a href="" target="_blank">cancel</a> as soon as possible.
                        We request that you cancel scheduled sessions at least 24 hours in advance.
                    </p>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
