<body class="campus-bg">

    <div class="ui one column centered stackable grid">
        <div class="ui center aligned row">
            <div id="student_requests">

            </div>
        </div>
        <div class="ui center aligned row">
            <div id="display_zoom_alert">

            </div>
        </div>

        <div class="ui container">
            <div class="one column centered row">
                <div class="ui red segment">
                    <iframe src="https://titanembeds.com/embed/678653017465290762?scrollbartheme=inset-3&theme=IceWyvern&username=Student"
                            height="500" width="800" frameborder="0" style="position: relative;"></iframe>
                </div>
            </div>
        </div>
        
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/displaystudentappts.js"></script>
    <script src="~/Scripts/zoomstudent.js"></script>
}