<body class="wou-blue-bg">

    @{string dayOfTheMonth = (DateTime.Now.Day).ToString(); }

    <div class="ui container portal">
        <h2 class="ui top attached center aligned icon header black" style="color:#231f20;">
            <i class="user circle outline icon" style="color:#231f20;"></i>
            Hello @ViewBag.User!
        </h2>
        <div class="ui internally divided padded grid grey">

            @* ----------First row start---------- *@
            <div class="row">
                <div class="three wide column">
                    @* Real-time alerts for requested tutoring requests - DO NOT DELETE *@
                    <div class="ui segment">
                        <div style="overflow-y:scroll; height:300px; background:white">
                            <div class="ui feed" id="student_alerts" style="margin-right:10px;">

                            </div>
                        </div>
                    </div>

                    @* Real-time alerts for requested tutoring requests - DO NOT DELETE *@
                </div>
                <div class="ten wide column">
                    @* Real-time alerts for Zoom requests - DO NOT DELETE *@
                    <div id="display_zoom_alert">

                    </div>
                    @* Real-time alerts for Zoom requests - DO NOT DELETE *@
                </div>
                <div class="three wide column">
                    <a href="/StudentResources">
                        <img class="ui fluid centered image" style="vertical-align:middle;" src="@Url.Content("~/Content/images/books_stacked.png")" />
                    </a>
                </div>
            </div>

            @* ----------Second row start---------- *@
            <div class="row">
                <div class="three wide column">

                    <div id="student_card"></div>

                </div>
                <div class="ten wide column">
                    <div class="ui floating message portal">
                        <img class="ui fluid image" src="@Url.Content("~/Content/images/landscapes_images/" + dayOfTheMonth + ".jpg")" />
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <div class="content">
                                <div class="ui centered dividing header"><p id="portal-headers-black">Progress Tracking</p></div>
                                <div class="ui info message">
                                    <div class="header">
                                        Want to calculate your grade in a class? Want to know what to get on the final to get an A?
                                    </div><p></p>
                                    <ul class="list">
                                        <li>Cumulative GPA</li>
                                        <li>Semester GPA</li>
                                        <li>Weighted Grade</li>
                                        <li>Final Exams</li>
                                    </ul>
                                </div>
                                <p></p>
                                <div class="description">
                                    <a href="/Calculators/Calculators" button class="fluid ui button" style="text-align: center;">Calculators</a>
                                    <p></p>
                                    <a href="/Calculators/SavedResults" button class="fluid ui grey button">Manage Grades</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* ----------Third row start---------- *@
            <div class="row">
                <div class="three wide column">
                    <div class="ui floating message portal">
                        <div class="ui card portal">
                            <div class="content">
                                <div class="ui centered dividing header"><p id="portal-headers-black">Need Some Help?</p></div>
                                <div class="description">
                                    <a id="portal-headers" href="/Student/Home/Guide"><center>Student User Guide</center></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/44d85n123d23/monmouth/?unit=us" data-label_1="Western Oregon University" data-label_2="WEATHER" data-font="Roboto Slab" data-icons="Climacons Animated" data-theme="retro-sky">Western Oregon University WEATHER</a>
                </div>
                <div class="three wide column">
                    <div class="ui floating message">
                        <div class="ui card portal">
                            <div class="content">
                                <div class="ui centered dividing header"><p id="portal-headers-black">Questions or Comments?</p></div>
                                <div class="description">
                                    <center><a href="mailto: beyondthetutor@gmail.com" id="portal-headers">Email</a> our team.</center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <span style="color: #808080; font-size: 12px;"><b>&copy; 2020  Beyond The Tutor, Khronos |</b> <a href="/Home/Privacy">Privacy Notice</a></span>
        </center>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/displaystudentappts.js"></script>
    <script src="~/Scripts/zoomstudent.js"></script>
    <script src="~/Scripts/displaystudent.js"></script>
    <script src="~/Scripts/student-alerts.js"></script>
}