<body class="campus-bg">
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">
                    Have a question? Ask a tutor!
                </div>
                <ul class="list">
                    <li>Login with your Discord account or drop in as a guest user</li>
                    <li>Please use your first and last name when using guest accounts</li>
                    <li>Drop in chat is intended for quick homework help. For further assistance please stop by the tutoring center.</li>
                </ul>
            </div>
        </div>
        <div class="column twelve wide">
            <iframe src="https://titanembeds.com/embed/678653017465290762?scrollbartheme=inset-3&theme=IceWyvern&username=Student"
                    height="500" width="800" frameborder="0" style="position: relative;"></iframe>
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}