@{
    ViewBag.Title = "Home Page";
}

<!--(a)Html.Action(actionName: "TempMessage", controllerName: "Message")-->

<body class="home-bg">
    <div class="row  justify-content-md-center" style="padding-top: 10px; padding-bottom: 20px; font-weight:bold;">
        <div class="col-md-12">
        </div>
        <div class="col-md-4">
            <h6 style="color: darkgray;">Meet</h6>
            <hr />
            <h6 class="fade-in" style="color: darkgray">Dunder Mifflin Sponsored Meet</h6>
            <h6 class="fade-in" style="color: darkgray">Marion Country Championship 2019</h6>
            <h6 class="fade-in" style="color: darkgray">McNary High Semi-Finals</h6>
        </div>
        <div class="col-md-2">
            <h6 style="color: aqua;">Date</h6>
            <hr />
            <h6 class="fade-in" style="color: aqua">1/23/2020</h6>
            <h6 class="fade-in" style="color: aqua">12/28/2019</h6>
            <h6 class="fade-in" style="color: aqua">3/5/2019</h6>
        </div>
        <div class="col-md-3">
            <h6 style="color: chartreuse; ">Type</h6>
            <hr />
            <h6 class="fade-in" style="color: chartreuse">100 meter freestyle</h6>
            <h6 class="fade-in" style="color: chartreuse">200 meter freestyle</h6>
            <h6 class="fade-in" style="color: chartreuse">200 meter individual medley</h6>
        </div>
        <div class="col-md-2">
            <h6 style="color: yellowgreen;">Time</h6>
            <hr />
            <h6 class="fade-in" style="color: yellowgreen">23s</h6>
            <h6 class="fade-in" style="color: yellowgreen">55.3s</h6>
            <h6 class="fade-in" style="color: yellowgreen">62s</h6>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="text-align: center;">
            <h1 style="color: aliceblue;">The <i>#1</i> analysis tool for coaches and swimmers</h1>

            @if (Request.IsAuthenticated)
            {
                <div class="button"><a href="/Athletes/Search" id="registerLink" class="nav-bar-button">Search for Athlete</a></div>
            }
            else
            {
                <div class="button"><a href="/Account/Register" id="registerLink" class="nav-bar-button">Try it Now</a></div>
            }
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="text-align: center; padding-top: 25px;">
            <p style="color: aliceblue;">"Finally an affordable program that makes athlete analysis simple."</p>
            <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHACJvUSIvDuUQrcsvrg5DZLJWOmDU3sx34Cl5GkO7UQGv0I36&s" />
            <p style="color: aliceblue;"><b>Phineas Smith,</b> Eagles Swim Team</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>

