@model IEnumerable<BeyondTheTutor.Models.StudentResource>

<body class="wou-silver-bg">
    <div class="ui grid">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <table class="ui striped selectable celled table resources">
                <thead>
                    <tr>
                        <th><h1 class="ui centered header">Topic</h1></th>
                        <th><h1 class="ui centered header">Resource List</h1></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td><b>@Html.DisplayFor(modelItem => item.Topic)</b></td>
                            <td><a href="@Html.DisplayFor(modelItem => item.URL)" target="_blank">@Html.DisplayFor(modelItem => item.DisplayText)</a></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="three wide column"></div>
    </div>
</body>