@model ViewDataViewModel
@using BeyondTheTutor.Models.ViewModels;

@{

}
<body class="wou-silver-bg">
    <div class="ui one column centered padded grid" style="padding-top:10px;">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <div class="ui segment background-color-white">

            <div class="ui horizontal segments">
                <div class="ui red padded segment">
                    <h1 class="ui center aligned header"><i class="user icon"></i>Students using Beyond The Tutor</h1>
                    <hr />
                    <canvas id="pie-chart" style="min-width: 300px; min-height: 250px;" max-width="300" height="250px"></canvas>

                </div>
                <div class="ui red padded segment">
                    <h1 class="ui center aligned header"><i class="chart bar icon"></i>ALL TIME Session Frequency per Course</h1>
                    <hr />
                    <canvas id="bar-chart" style="min-width: 300px; min-height: 250px;" max-width="300" height="250px"></canvas>
                </div>
            </div>
            <div class="ui horizontal segments">
                <div class="ui red padded segment">
                    <h1 class="ui center aligned header"><i class="chart line icon"></i>Dated Session Frequency</h1>
                    <hr />
                    <canvas id="line" style="min-width: 1200px; max-height: 500px;" max-width="1200px" height="400"></canvas>

                </div>
            </div>
            </div>
        </div>
</body>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/appt_and_stu_data.js"></script>
}
