<body class="wou-silver-bg">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui top attached tabular menu custom">
                <a class="active item" data-tab="first"><b>Weighted Grade Calculator</b></a>
                <a class="item" data-tab="second"><b>Final Grade Calculator</b></a>
                <a class="item" data-tab="third"><b>GPA Calculator</b></a>
            </div>
            @*Weighted Grade Calculator Section*@
            <div class="ui bottom attached active tab segment" data-tab="first">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out the grade of a course based on weighted averages
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui grey ribbon medium label">
                                Grade
                            </div>
                            @{ int j = 1;
                                for (int i = 0; i < 10; i++)
                                {
                                    <div class="ui right labeled input">
                                        <label class="ui label">@j</label>
                                        <input type="number" step="0.01" min="0" class="grades">
                                        <div class="ui basic label">%</div>
                                    </div>
                                    j++;
                                }
                            }
                        </div>
                        <div class="field">
                            <div class="ui grey right ribbon medium label">
                                Weight
                            </div>
                            @{ int k = 1;
                                for (int i = 0; i < 10; i++)
                                {
                                    <div class="ui right labeled input">
                                        <label class="ui label">@k</label>
                                        <input type="number" step="1" min="0" max="100" class="weights">
                                        <div class="ui basic label">%</div>
                                    </div>
                                    k++;
                                }
                            }
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="getWeightedGrade()" class="ui red button">Submit</button>
                        <div class="or"></div>
                        <button class="ui button" id="resetWeighted">Reset</button>
                    </div>
                    <div id="weightedTable">
                        <table id="weighted"></table>
                    </div>
                    <div class="ui icon message">
                        <i class="chart bar outline icon"></i>
                        <div class="content">
                            <div class="header">
                                Track your progress
                            </div>
                            <p>To save your weighted grade select a course, enter grade, then save.</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Course
                                </div>
                                @Html.DropDownList("ClassID", null, "Select", htmlAttributes: new { @class = "ui selection dropdown form-control", @id = "classForWeightedGrade" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Grade
                                </div>
                                <input type="number" step="0.01" min="0" max="100" id="calculatedWeightedGrade" placeholder="(e.g. 90.5)">
                            </div>
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="saveWeightedGrade()" class="ui red button">Save My Grade</button>
                    </div>
                    <div id="savedGradeTable">
                        <table id="savedGrade"></table>
                    </div>
                </div>
            </div>
            @*Final Grade Calculator Section*@
            <div class="ui bottom attached tab segment" data-tab="second">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out what grade you need on your final to get a certain grade in a class
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui grey ribbon medium label">
                                Current Grade
                            </div>
                            <div class="ui right labeled input"> 
                                <input type="number" step="0.01" min="0" id="currentGrade" placeholder="(e.g. 90.5)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui grey ribbon medium label">
                                Goal Grade
                            </div>
                            <div class="ui right labeled input">             
                                <input type="number" step="1" min="0" id="goalGrade" placeholder="(e.g. 93)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui grey ribbon medium label">
                                Weight of Final
                            </div>
                            <div class="ui right labeled input">
                                <input type="number" step="1" min="0" id="finalWeight" placeholder="(e.g. 40)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="getFinalGrade()" class="ui red button">Submit</button>
                        <div class="or"></div>
                        <button class="ui button" id="resetFinal">Reset</button>
                    </div>
                    <div id="finalTable">
                        <table id="final"></table>
                    </div>
                    <div class="ui icon message">
                        <i class="chart bar outline icon"></i>
                        <div class="content">
                            <div class="header">
                                Track your progress
                            </div>
                            <p>To save what you need on the final select a course, enter grade, then save.</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Course
                                </div>
                                @Html.DropDownList("ClassID", null, "Select", htmlAttributes: new { @class = "ui selection dropdown form-control", @id = "classForFinalGrade" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Needed
                                </div>
                                <input type="number" step="0.01" min="0" max="100" id="calculatedFinalGrade" placeholder="(e.g. 90.5)">
                            </div>
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="saveFinalGrade()" class="ui red button">Save What I Need On My Final</button>
                    </div>
                    <div id="savedFinalTable">
                        <table id="savedFinal"></table>
                    </div>
                </div>
            </div>
            @*Cumulative Grade Calculator Section*@
            <div class="ui bottom attached tab segment" data-tab="third">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out your current and cumulative GPA
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui grey ribbon medium label">
                                Current Semester Letter Grade
                            </div>
                            @{
                                for (int i = 0; i < 6; i++)
                                {
                                    <div class="ui left icon input">
                                        <input type="text" class="currentSemesterGrades" placeholder="(e.g. A, B+, C)">
                                        <i class="vertical ellipsis icon"></i>
                                    </div>
                                }
                            }
                        </div>
                        <div class="field">
                            <div class="ui grey right ribbon medium label">
                                Credit Hours
                            </div>
                            @{
                                for (int i = 0; i < 6; i++)
                                {
                                    <div class="ui left icon input">
                                        <input type="number" min="1" max="5" step="1" class="currentSemesterCredits" placeholder="(e.g. 4)">
                                        <i class="vertical ellipsis icon"></i>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="getCurrentGPA()" class="ui red button">Submit</button>
                        <div class="or"></div>
                        <button class="ui button" id="resetCurrentGPA">Reset</button>
                    </div>
                    <div id="currentGPATable">
                        <table id="currentGPA"></table>
                    </div>
                    <div class="ui horizontal divider"></div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Result From Part One
                                </div>
                                <input type="number" step="0.01" min="0" max="4" id="calculated" placeholder="(e.g. 3.77)">
                            </div>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Previous GPA
                                </div>
                                <input type="number" step="0.01" min="0" max="4" id="previousGPA" placeholder="(e.g. 3.83)">
                            </div>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Previous Total Credits
                                </div>
                                <input type="number" step="1" min="1" max="200" id="previousCredits" placeholder="(e.g. 84)">
                            </div>
                        </div>
                    </div>
                    <div class="ui medium message">
                        Enter your cumulative GPA prior to this semester as well as the total
                        number of graded credits earned prior to this semester. When you select
                        Calculate New Cumulative GPA, your new cumulative GPA will be shown based
                        on your previous GPA and the current semester's GPA.
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="getCumulativeGPA()" class="ui red button">Submit</button>
                        <div class="or"></div>
                        <button class="ui button" id="resetCumulativeGPA">Reset</button>
                    </div>
                    <div id="cumulativeTable">
                        <table id="cumulative"></table>
                    </div>
                    <div class="ui icon message">
                        <i class="chart bar outline icon"></i>
                        <div class="content">
                            <div class="header">
                                Track your progress
                            </div>
                            <p>To save your cumulative GPA enter value, then save.</p>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    Calculated Total GPA
                                </div>
                                <input type="number" step="0.01" min="0" max="5" id="calculatedFinalGPA" placeholder="(e.g. 3.48)">
                            </div>
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="saveFinalGPA()" class="ui red button">Save My Cumulative GPA</button>
                    </div>
                    <div id="savedFinalGPATable">
                        <table id="savedFinalGPA"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/calculators.js"></script>
    <script src="~/Scripts/main.js"></script>
}


