@model BeyondTheTutor.Models.WeightedGrade

<body class="library-bg">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="first"><b>Weighted Grade Calculator</b></a>
                <a class="item" data-tab="second"><b>Final Grade Calculator</b></a>
                <a class="item" data-tab="third"><b>Cumulative GPA Calculator</b></a>
            </div>
            @*Weighted Grade Calculator Section*@
            <div class="ui bottom attached active tab segment" data-tab="first">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out the grade of a course based on weighted averages
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Grade
                            </div>
                            @{ int j = 1;
                                for (int i = 0; i < 10; i++)
                                {
                                    <div class="ui right labeled input">
                                        <label class="ui label">@j</label>
                                        <input type="number" step="0.01" min="0" class="grades">
                                        <div class="ui basic label">%</div>
                                    </div>
                                    j++;
                                }
                            }
                        </div>
                        <div class="field">
                            <div class="ui red right ribbon large label">
                                Weight
                            </div>
                            @{ int k = 1;
                                for (int i = 0; i < 10; i++)
                                {
                                    <div class="ui right labeled input">
                                        <label class="ui label">@k</label>
                                        <input type="number" step="1" min="0" max="100" class="weights">
                                        <div class="ui basic label">%</div>
                                    </div>
                                    k++;
                                }
                            }
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="getWeightedGrade()" class="ui grey button">Submit</button>
                        <div class="or"></div>
                        <button class="ui button" id="resetWeighted">Reset</button>
                    </div>
                    <div id="weightedTable">
                        <table id="weighted"></table>
                    </div>
                    <div class="ui icon message">
                        <i class="chart bar outline icon"></i>
                        <div class="content">
                            <div class="header">
                                Track your progress
                            </div>
                            <p>To save your weighted grade select a course, enter grade, then save.</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Course
                            </div>
                            @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "ui selection dropdown form-control", @id = "classForWeightedGrade" })
                        </div>
                        <div class="field">
                            <div class="ui red right ribbon large label">
                                Grade
                            </div>
                            <div class="ui left icon input">
                                <input type="number" step="0.01" min="0" max="100" id="calculatedWeightedGrade" placeholder="(e.g. 90.5)">
                                <i class="vertical ellipsis icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fluid ui buttons">
                        <button onclick="saveWeightedGrade()" class="ui grey button">Save My Grade</button>
                    </div>
                    <div id="savedGradeTable">
                        <table id="savedGrade"></table>
                    </div>
                </div>
            </div>
            @*Final Grade Calculator Section*@
            <div class="ui bottom attached tab segment" data-tab="second">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out what grade you need on your final to get a certain grade in a class
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Current Grade
                            </div>
                            <div class="ui right labeled input">
                                <label class="ui label">1</label>
                                <input type="number" step="0.01" min="0" id="currentGrade" placeholder="(e.g. 90.5)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Goal Grade
                            </div>
                            <div class="ui right labeled input">
                                <label class="ui label">2</label>
                                <input type="number" step="1" min="0" id="goalGrade" placeholder="(e.g. 93)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Weight of Final
                            </div>
                            <div class="ui right labeled input">
                                <label class="ui label">3</label>
                                <input type="number" step="1" min="0" id="finalWeight" placeholder="(e.g. 40)">
                                <div class="ui basic label">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="two buttons">
                        <button onclick="getFinalGrade()" class="ui right labeled icon button">
                            <i class="calculator icon"></i>
                            Calculate
                        </button>
                        <button class="ui right labeled icon button" id="resetFinal">
                            <i class="undo icon"></i>
                            Reset
                        </button>
                    </div>
                    <div id="finalTable">
                        <table id="final"></table>
                    </div>
                </div>
            </div>
            @*Cumulative Grade Calculator Section*@
            <div class="ui bottom attached tab segment" data-tab="third">
                <div class="ui equal width form">
                    <div class="ui icon message">
                        <i class="bullhorn icon"></i>
                        <div class="content">
                            <div class="header">
                                Find out your current and cumulative GPA
                            </div>
                            <p>You may save results for grades tracking</p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Current Semester Letter Grade
                            </div>
                            @{
                                for (int i = 0; i < 6; i++)
                                {
                                    <div class="ui left icon input">
                                        <input type="text" class="currentSemesterGrades" placeholder="(e.g. A, B+, C)">
                                        <i class="vertical ellipsis icon"></i>
                                    </div>
                                }
                            }
                        </div>
                        <div class="field">
                            <div class="ui red right ribbon large label">
                                Credit Hours
                            </div>
                            @{
                                for (int i = 0; i < 6; i++)
                                {
                                    <div class="ui left icon input">
                                        <input type="number" min="1" max="5" step="1" class="currentSemesterCredits" placeholder="(e.g. 4)">
                                        <i class="vertical ellipsis icon"></i>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="two buttons">
                        <button onclick="getCurrentGPA()" class="ui right labeled icon button">
                            <i class="calculator icon"></i>
                            Calculate Current GPA
                        </button>
                        <button class="ui right labeled icon button" id="resetCurrentGPA">
                            <i class="undo icon"></i>
                            Reset
                        </button>
                    </div>
                    <div id="currentGPATable">
                        <table id="currentGPA"></table>
                    </div>
                    <div class="ui horizontal divider"></div>
                    <div class="one fields">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Result from Part One
                            </div>
                            <div class="ui left icon input">
                                <input type="number" step="0.01" min="0" max="4" id="calculated" placeholder="(e.g. 3.77)">
                                <i class="ellipsis vertical icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Previous GPA
                            </div>
                            <div class="ui left icon input">
                                <input type="number" step="0.01" min="0" max="4" id="previousGPA" placeholder="(e.g. 3.83)">
                                <i class="ellipsis vertical icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="one field">
                        <div class="field">
                            <div class="ui red ribbon large label">
                                Previous Total Credits
                            </div>
                            <div class="ui left icon input">
                                <input type="number" step="1" min="1" max="200" id="previousCredits" placeholder="(e.g. 84)">
                                <i class="ellipsis vertical icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui medium message">
                        Enter your cumulative GPA prior to this semester as well as the total
                        number of graded credits earned prior to this semester. When you select
                        Calculate New Cumulative GPA, your new cumulative GPA will be shown based
                        on your previous GPA and the current semester's GPA.
                    </div>
                    <div class="two buttons">
                        <button onclick="getCumulativeGPA()" class="ui right labeled icon button">
                            <i class="calculator icon"></i>
                            Calculate New Cumulative GPA
                        </button>
                        <button class="ui right labeled icon button" id="resetCumulativeGPA">
                            <i class="undo icon"></i>
                            Reset
                        </button>
                        <div id="cumulativeTable">
                            <table id="cumulative"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
{
    <script src="~/Scripts/calculators.js"></script>
    <script src="~/Scripts/main.js"></script>
}


